WHISPLAY_AIRPLAY_NAME=Whisplay AirPlay
SHAIRPORT_IGNORE_VOLUME_CONTROL=true
SHAIRPORT_OUTPUT_RATE=48000
SHAIRPORT_OUTPUT_FORMAT=S16
ALSA_OUTPUT_DEVICE=playback
ALSA_MIXER_DEVICE=whisplaysound
ALSA_MIXER_CONTROL=speaker
WHISPLAY_AIRPLAY_SET_SYSTEM_VOLUME=false
LCD_BRIGHTNESS=100
PISUGAR_ENABLED=true
